<resources>
	<bitmap id="LauncherIcon" filename="images/launcher_icon.png" />
	<fonts>
		<font id="id_font_black_diamond" filename="fonts/blackdiamond.fnt"
			filter="0123456789" />
	</fonts>

	<properties>
        <property id="SHOW_NOTIFICATION_ARC" type="boolean">true</property>
         <property id="NOTIFICATION_ARC_COLOUR" type="number">11141375</property> 
        <property id="SHOW_ICONS" type="number">0</property>
        <property id="SMART_DATE" type="boolean">true</property>
	</properties>

	<strings>
		<string id="AppName">Activity Classic</string>
		<string id="show_icons">Show icons? </string>
		<string id="show_icons_as_time">True if time format = 24 hour</string>
		<string id="show_icons_true">True</string>
		<string id="show_icons_false">False</string>
		<string id="smart_date_desc">Smart date positioning? </string>
        <string id="show_notification_arc">Show notification arc? </string>
        <string id="Notification_arc_colour">Notification arc colour? </string>
        
       <string id="LT_GRAY">Light Grey</string>
       <string id="DK_GRAY">Dark Grey</string>
       <string id="RED">Red</string>
       <string id="DK_RED">Dark Red</string>
       <string id="ORANGE">Orange</string>
       <string id="PINK">Pink</string>
       <string id="YELLOW">Yellow</string>
       <string id="PURPLE">Purple</string>
       <string id="DK_GREEN">Dark Green</string>
       <string id="DK_BLUE">Dark Blue</string>        
	</strings>

	<settings>
		<setting propertyKey="@Properties.SHOW_ICONS" title="@Strings.show_icons">
			<settingConfig type="list">
				<listEntry value="0">@Strings.show_icons_as_time</listEntry>
				<listEntry value="1">@Strings.show_icons_true</listEntry>
				<listEntry value="2">@Strings.show_icons_false</listEntry>
			</settingConfig>
		</setting>
		<setting propertyKey="@Properties.SMART_DATE" title="@Strings.smart_date_desc">
			<settingConfig type="boolean" />
		</setting>
        <setting propertyKey="@Properties.SHOW_NOTIFICATION_ARC" title="@Strings.show_notification_arc">
            <settingConfig type="boolean" />
        </setting>	
        <setting propertyKey="@Properties.NOTIFICATION_ARC_COLOUR" title="@Strings.Notification_arc_colour">
            <settingConfig type="list">
                <listEntry value="11141375">@Rez.Strings.PURPLE</listEntry>
                <listEntry value="11184810">@Rez.Strings.LT_GRAY</listEntry>
                <listEntry value="16733440">@Rez.Strings.ORANGE</listEntry>
                <listEntry value="16755200">@Rez.Strings.YELLOW</listEntry>
                <listEntry value="16711935">@Rez.Strings.PINK</listEntry>
                <listEntry value="255">@Rez.Strings.DK_BLUE</listEntry>
            </settingConfig>         
        </setting>                
    </settings>

</resources>